<!--app.component.html-->
<div class="container-fluid">
  <form class="mr-5 ml-5 mt-3" [formGroup]="userEmails" (ngSubmit)="submitForm()">
    <h2>Please provide your email address</h2>
  
    <div class="form-group">
      <label>Primary Email:</label>
      <input [class.is-invalid]="userEmails.get('primaryEmail')!.invalid && userEmails.get('primaryEmail')!.touched" type="email" class="form-control" formControlName="primaryEmail" />
    </div>

    <div *ngIf="primaryEmail!.invalid && primaryEmail!.touched">
    	<small *ngIf="primaryEmail!.errors?.['required']" class="text-danger">Primary email is required</small>
    	<!--question mark(?) is a safe navigation operator-->
    	<small *ngIf="primaryEmail!.errors?.['pattern']" class="text-danger">Please provide a valid email address</small>
  	</div>

  
    <div class="form-group">
      <label>Secondary Email:</label>
      <input [class.is-invalid]="userEmails.get('secondaryEmail')!.invalid && userEmails.get('secondaryEmail')!.touched" type="email" class="form-control" formControlName="secondaryEmail" />
    </div>

    <div *ngIf="secondaryEmail!.invalid && secondaryEmail!.touched">
    	<small *ngIf="secondaryEmail!.errors?.['required']" class="text-danger">Secondary email is required</small>
    	<small *ngIf="secondaryEmail!.errors?.['pattern']" class="text-danger">Please provide a valid email address</small>
  	</div>

    <div class="form-group">
      <label>Password:</label>
      <input [class.is-invalid]="password!.invalid && password!.touched" type="password" class="form-control" formControlName="password" />
    </div>

    <label class="col" 
      [ngClass]="password!.errors?.['required'] || password!.errors?.['hasNumber']  ? 'text-danger' : 'text-success' ">
      <i class="material-icons">
        {{ password!.errors?.['required'] || password!.errors?.['hasNumber'] ? 'cancel' : 'check_circle' }}
      </i>
        Must have at least 1 number!
    </label>
    <label class="col"
      [ngClass]="password!.errors?.['required'] || password!.errors?.['hasCapitalCase']  ? 'text-danger' : 'text-success' ">
      <i class="material-icons">
        {{ password!.errors?.['required'] || password!.errors?.['hasCapitalCase'] ? 'cancel' : 'check_circle' }}
      </i>
      Must contain at least 1 in Capital Case!
    </label>
    <label class="col"
      [ngClass]="password!.errors?.['required'] || password!.errors?.['hasSmallCase']  ? 'text-danger' : 'text-success' ">
      <i class="material-icons">
        {{ password!.errors?.['required'] || password!.errors?.['hasSmallCase'] ? 'cancel' : 'check_circle' }}
      </i>
      Must contain at least 1 Letter in Small Case!
    </label>
    <label class="col"
      [ngClass]="password!.errors?.['required'] || password!.errors?.['hasSpecialCharacters']  ? 'text-danger' : 'text-success' ">
      <i class="material-icons">
        {{ password!.errors?.['required'] || password!.errors?.['hasSpecialCharacters'] ? 'cancel' : 'check_circle' }}
      </i>
      Must contain at least 1 Special Character!
    </label>
    <label class="col"
      [ngClass]="password!.errors?.['required'] || password!.errors?.['minLength']  ? 'text-danger' : 'text-success' ">
      <i class="material-icons">
        {{ password!.errors?.['required'] || password!.errors?.['minLength'] ? 'cancel' : 'check_circle' }}
      </i>
      Must be at least 8 characters!
    </label>
  </form>
  </div>